[2019-02-15 00:33] rsingh106 opened #1 "problem using it with switch"
I tried to implement it on a switch although it works but it always goes into a loop where it says the value is always false.

 D/ViewRootImpl@6fe231b[MainActivity](10390): Relayout returned: old=[0,0][1080,2220] new=[0,0][1080,2220] result=0x3 surface={valid=true 511763673088} changed=false

[2019-02-24 10:29] spencerccf commented on #1
Hi @rsingh106, could you provide me with an example of you implementation and I'll get the needed updates in place.

[2019-03-19 17:11] jamespfinn opened #4 "Enhancement: Open the 'app' settings menu on Android"
The current version of `app_settings` allows for the system Wifi, Location, and Security menus to be accessed, but not the 'app' settings menu as experienced on iOS.

I will submit a PR to allow for this functionality on Android.

[2019-03-19 23:43] spencerccf commented on #4
Thanks for adding the new Android functionality... will review and get merged.

[2019-03-20 00:39] jamespfinn commented on #4
Happy to help, thanks for the merge!

[2019-03-20 00:39] #4 closed

[2019-03-20 14:29] spencerccf commented on #1
Closing this issue until an example is provided.  Please reopen issue when ready with an example.

[2019-03-20 14:29] #1 closed

[2019-03-21 03:09] ened opened #6 "Kotlin => Java?"
Would you be interested in a PR for a scaled-down version of this plugin in pure Java instead of Kotlin?

At this moment, Kotlin requires you to bundle the kotlin stdlib plus whenever a kotlin version upgrade is done on the app client side, builds may break.

[2019-03-25 21:03] hiddencaliber opened #7 "Is it required to create/ have a Swift enabled flutter project to use this plugin?"

[2019-03-26 19:46] spencerccf commented on #7
Yes, plugin currently requires Swift project.  Normally bridging headers allow you to communicate from Swift to Objective C but I believe that is a current limitation in Flutter: https://github.com/flutter/flutter/issues/26892

[2019-03-26 19:47] spencerccf commented on #6
Thanks for the PR.  I will take a look.

[2019-03-28 12:38] #7 closed

[2019-04-17 11:51] YAPPDEF opened #12 "Error while building the (iOS Swift) project"
[code]

[2019-04-17 18:00] spencerccf commented on #12
Is your flutter project using Objective-C for the native iOS code?  This plugin currently only supports Swift.

[2019-04-23 15:10] aloklearning opened #13 "Cannot open any setting from emulator"
I have used the app_settings in my code, and after using it for the implementation in the emulator iOS, it only throws error :

`#1      AppSettings.openAppSettings (package:app_settings/app_settings.dart:25:14)
<asynchronous suspension>
#2      _HomeContainerState.permission.<anonymous closure>.<anonymous closure> (package:newmonkapp/screens/home_container.dart:39:42)
#3      _InkResponseState._h

[2019-04-23 17:15] #12 closed

[2019-05-08 13:16] dmvvilela opened #14 "Add Phone Settings and Bluetooth"
Can you implement the option to go to iPhone Settings (even if the app have its own) and to go to Bluetooth settings (even if it just android)?

[2019-05-12 23:46] spencerccf commented on #14
Hi @dmvvilela, I will add these items to my queue.  I have a couple other items I need to finish up first but will get to these items next.

[2019-05-13 12:05] dmvvilela commented on #14
Awesome!

[2019-05-25 07:08] fayaz07 commented on #13
I too experienced the same in emulator

[2019-05-30 02:56] spencerccf commented on #13
Thanks for letting me know.  I will investigate.  In the meantime you should be able to use a physical iOS device for testing.

[2019-05-30 03:19] spencerccf commented on #14
@dmvvilela As of iOS 10.0 and above the direct access to Bluetooth Settings and others via: URL(string: "App-Prefs:root=Bluetooth") is no longer supported/approved by Apple.  Using this type of URL may get your app rejected from the app store.  The recommended URL to use is: URL(string: UIApplicationOpenSettingsURLString) which is currently what the plugin uses.  This is possible on Android so I w

[2019-05-31 08:58] fayaz07 commented on #13
Thanks @spencerccf

[2019-06-06 06:07] YAPPDEF commented on #12
We're using Objective-C. Can you maybe write that in the plugin description as well?
Are you planning to support Objective-C as well?

[2019-06-25 14:26] YAPPDEF commented on #12
Sorry. Update: this project I tried to use it is Swift..
So I wonder why it cannot build it for iOS

[2019-07-04 01:25] plinkos commented on #12
We are currently using this plugin in a production app using Swift 4.  What version of Swift are you using?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-09 07:28] YAPPDEF commented on #12
I set the swift version to 4.0. Now getting this error:

[code]

[2019-08-09 08:30] YAPPDEF commented on #12
With the newest version, you should use Swift 4.2
I also get a lot of errors if I switch to 4.2 (newest version 1.0.6)

[2019-08-12 14:20] gkrawiec opened #15 "needs info about swift requirement"
Your plugin requires a few changes to the flutter default environment. It needs the swift bridging support and a change in the podfile to support framework. Please add this info and, ideally also instructions, on your install page. Without the changes the plugin does not work on ios. thank you.

[2019-08-12 18:05] spencerccf commented on #15
Are you developing in Objective C?

[2019-08-12 18:17] gkrawiec commented on #15
Nope, pure flutter. Newbie here (flutter and dev in general). I created a project with flutter create, then been working on vscode. Other packages I added worked fine. When I added app_settings it stopped working on the iOS simulator. It wouldnt even start debbuging.  After lots of googling I was able to get it to work by opening xcode, creating a swift file, accepting the bridging option and then

[2019-08-12 18:23] spencerccf commented on #15
The default flutter projects are Objective C and Java unless you specify otherwise.  Thanks for the good feedback and details... I'll get this corrected and pushed out.  There shouldn't be any conflicts with other libraries.

[2019-08-12 18:30] gkrawiec commented on #15
You mention something along these lines in this comment on a closed issue
https://github.com/spencerccf/app_settings/issues/7#issuecomment-476818522

[2019-08-12 18:34] spencerccf commented on #15
Oh snap... that's right... current functionality will require your flutter project to use Swift instead of Objective C.  Been a while and I forgot about that issue.

[2019-08-12 18:37] spencerccf commented on #15
You can generate the flutter project using Swift and Kotlin with this command:
flutter create —org com.myBundleID -i swift -a kotlin my_project_name

[2019-08-12 18:51] gkrawiec commented on #15
i'll try to remember that next time I create a project from scratch. thank you for the quick responses.

[2019-08-12 18:51] #15 closed

[2019-08-12 18:58] spencerccf commented on #15
No prob.  Also, I just ran a quick test using the default flutter create for Objective C and Java including app_settings Swift plugin.  The only update I had to make was adding "use_frameworks!" to the Runner project's podfile under target 'Runner' do and all worked as just fine.  I'll do some more testing and update readme as needed for future reference.

[2019-08-12 19:02] gkrawiec commented on #15
Maybe that's the case and only use_frameworks is all thats needed. I did not test just that. I just kept adding stuff as I found info about it.  "use_frameworks" was the last thing I added.I might try deleting the bridging file later and see if things still work.

[2019-08-12 19:06] spencerccf commented on #15
[Found this: "In order to use CocoaPods written in Swift, you must explicitly include use_frameworks! to opt into using frameworks."](https://www.raywenderlich.com/626-cocoapods-tutorial-for-swift-getting-started)

[2019-08-12 19:42] spencerccf commented on #13
Updated readme with Tip on use_frameworks! and published a new version: 1.0.6+1.

[2019-08-12 19:57] #6 closed

[2019-08-12 19:57] #13 closed

[2019-08-13 04:02] josephchenghmlet opened #16 "Pod install: description is empty"
**App_Settings Version:** `1.0.6+1`

**Flutter Verison:**
[code]

**Pod Version:**  `1.7.5`

Run `pod install`
[code]

Suspect that in `ios/app_settings.podspec` line 8, `s.description      = ''` is empty.

[2019-08-13 14:04] spencerccf commented on #16
Merged and uploaded to pub.dev: https://pub.dev/packages/app_settings

[2019-08-13 14:59] #16 closed

[2019-10-24 07:43] EliasDeuss opened #19 "Android Build Error"
[code]

[2019-10-25 13:38] chrispypatt opened #20 "Fatal Exception on android KitKat and below"
Hi, I am using this plugin for my flutter app and had my min SDK set to 16. I noticed one of my beta testers kept crashing on startup with the error message below so I investigated. I found that I can reproduce this same error on any device with android sdk 19 and below (KitKat). In the meantime, I bumped my minsdk to 21 and everything works fine.

I may be doing something wrong but if anyone has

[2019-10-29 13:26] spencerccf commented on #20
I'll check into this for minSdkVersion 16.

[2019-10-29 13:28] spencerccf commented on #19
Could you try running with verbose mode on "-v" to get more details on this error?

[2019-11-01 12:31] saravananmnm commented on #19
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app_settings:verifyReleaseResources'.

  Output:  C:\Saravanan\i-eX_Driver\iex_driver\build\app_settings\intermediates\res\merged\release\values\values.xml:186: error: resource android:attr/fontVariationSettings not found.
  C:\Saravanan\i-eX_Driver\iex_driver\build\app_settings\intermediates\res\merged\releas

[2019-11-01 12:32] saravananmnm commented on #19
Same issue while build apk..

[√] Flutter (Channel master, v1.10.15-pre.137, on Microsoft Windows [Version 10.0.18362.418], locale en-IN)
    • Flutter version 1.10.15-pre.137 at C:\Saravanan\Flutter_Sdk\flutter
    • Framework revision b9817b4f59 (2 weeks ago), 2019-10-15 17:36:34 -0700
    • Engine revision 540fc977bb
    • Dart version 2.6.0 (build 2.6.0-dev.7.0 70a7ef3f58)

[√] Android toolcha

[2019-11-05 21:04] spencerccf commented on #19
Is your project using Kotlin or Java?

[2019-11-05 21:09] spencerccf commented on #20
There are differences in how older Android SDKs handle asking for permissions.  I believe starting in API 20 and up Android permissions went from asking at app install to asking from within the app when the services were going to be used.  This plugin is build to use the later API 20 and up which will not work on anything below.  They are two different paradigms... old one used to ask for permissi

[2019-11-08 04:48] nguyenhuutinh opened #21 "[iOS] Always open app settings instead of general setting"
HI,
I use       `AppSettings.openWIFISettings();`

But it always show the app settings.
Any way to go to general settings instead?
Thanks

[2019-11-08 05:11] nguyenhuutinh commented on #19
try to change the compileSdkVersion to: `compileSdkVersion 28`

[2019-11-08 11:34] nihalreddy33 commented on #19
Even I am facing the same issue with compileSdkVersion 28 & my Project is using Java.

[2019-11-09 14:44] spencerccf commented on #21
Unfortunately in newer versions of iOS this is the only option.  If there are no app settings set it will open to general settings otherwise it will open the App Settings.

[2019-11-09 14:46] spencerccf commented on #19
This plugin only supports Kotlin... no support for Java at this time.

[2019-11-09 15:04] #20 closed

[2019-11-14 10:47] thang510023 opened #22 "How to open data roaming setting"
Hi, I am using your library in my project, and need to open the mobile data settings, can you update that part?

[2019-11-20 15:14] #21 closed

[2019-11-20 15:21] spencerccf commented on #22
Unfortunately the use of App-Prefs or prefs:root are no longer allowed for iOS apps as they are private APIs.  Any iOS app using these types of calls will get rejected by Apple.  The default is to open the settings specific to the app in use.

[2019-11-20 15:26] spencerccf commented on #22
However, I can get this added for the Android side of the plugin.  The iOS side will behave as it does today... so that will give you some additional functionality that is still allowed on Android.

[2019-11-20 15:29] spencerccf commented on #14
@dmvvilela I can get this added into plugin for Android side.  iOS will behave as it does today.

[2019-11-20 18:26] spencerccf commented on #22
@thang510023 This has been added to the Android side of the plugin.  iOS will still open App Settings.

[2019-11-20 18:27] spencerccf commented on #14
@dmvvilela This has been added to the Android side of the plugin.  iOS will still open App Settings.

[2019-11-20 20:51] spencerccf commented on #19
I was able to create a sample Flutter project using Java for Android and the plugin works properly.  I'm not able to reproduce the compile error you are getting.  I used Galaxy with API 28 and it's working fine.  Can you update to latest plugin version: 2.0.1+1 and give it another try.

[2019-11-20 22:30] #19 closed

[2019-11-25 10:19] pro100svitlo opened #26 "`openAppSettings` opens wrong screen on Android"
When I call `AppSettings.openAppSettings();` on Android it opens the `app storage settings` screen, instead `app settings`.

[2019-11-25 16:57] spencerccf commented on #26
@pro100svitlo I'm checking into this now to see what's happening.

[2019-11-25 17:25] spencerccf commented on #26
@pro100svitlo  I've tested in both the example project within the plugin repo and a fresh Flutter project using the latest 2.0.2 from https://pub.dev/packages/app_settings and both open the settings for the current app i'm using correctly.  The information I see is: Force Stop, Uninstall, Show Notifications, Storage, Cache, Launch By Default options, and Permissions.  Can you upload a screen image

[2019-12-02 16:06] spencerccf commented on #22
@thang510023 - This has been added to the Android side of the plugin. iOS will still open App Settings.  Closing out this issue... please let me know if you have any questions or need additional feature adjustments.

[2019-12-02 16:06] #22 closed

[2019-12-02 16:07] spencerccf commented on #14
@dmvvilela This has been added to the Android side of the plugin. iOS will still open App Settings.  I'm going to close out this issue.  Please let me know if you have any questions or need additional feature updates.

[2019-12-02 16:07] #14 closed

[2019-12-02 16:08] spencerccf commented on #26
@pro100svitlo Just wanted to follow up with you on this issue to see if you had any screen images to provide of what you are seeing on your end?

[2019-12-05 13:40] krishnaaro opened #27 "need callBack function for opening settings."
please tell if i'm missing something,

**need a callback function after closing settings.**

i was using location which is mandatory in my application, so i need to check location is turned on or not after closing the settings screen.

[2019-12-05 14:19] spencerccf commented on #27
You can solve the issue in Flutter side using didChangeAppLifecycleState override.  This will allow you to detect when the app goes into background which it will when you open settings.  Then when app comes into foreground after user updates the location settings you can detect and re-prompt user to accept location access and then start tracking location etc.

Sample override that I've used in my

[2019-12-06 07:27] krishnaaro commented on #27
Cool

[2019-12-06 07:28] #27 closed

[2019-12-09 01:50] thang510023 commented on #22
Sorry, I didn't follow my github account, glad you edited it for me and everyone, wish you success in the future, thank you very much.

[2019-12-09 17:00] pavel-birdy opened #28 "MissingPluginException(No implementation found for method location on channel app_settings)"
I'm getting exception. I don't know what I am doing wrong here. API seems pretty straight forward.

[code]

[code]

[2019-12-09 17:09] badaween-ahmed commented on #28
oops! I just needed to pop the `AlertDialog()` before I call `AppSettings.openLocationSettings()`

[2019-12-14 08:10] zzb999 opened #29 "my swift_version is 5.0"
Xcode's output:
↳
    === BUILD TARGET firebase_messaging OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/x/Development/Tools/flutter/.pub-cache/hosted/pub.dartlang.org/app_settings-1.0.6/ios/Classes/AppSettingsPlugin.m:2:9: fatal error: 'app_settings/app_settings-Swift.h' file not found
    #import <app_settings/app_settings-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 e

[2019-12-16 01:51] plinkos commented on #29
There is a change that Apple did where Swift 4 compiled plugins will not work with Swift 5 compiled apps.  I will push up a Swift 5 update ASAP to correct this problem.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-16 02:43] spencerccf commented on #29
@zzb999 I published a new version 3.0.0 that supports Swift 5.0.1.   Please update to this latest version and re-run your project.  Please let me know if you have any issues.

[2019-12-16 06:21] zzb999 commented on #29
Xcode's output:
↳
    error: SWIFT_VERSION '5.0.1' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'app_settings')
    warning: The iOS deployment target is set to 4.3, but the range of supported deployment target versions for this platform is 8.0 to 12.1. (in target 'FMDB')
    warning: The iOS deployment target is set to 6.0, but the range of supported deployment target version

[2019-12-16 15:38] spencerccf commented on #29
@zzb999 - My apologies... please update plugin again: 3.0.0+1... I missed a change to the .podspec.

[2019-12-17 03:01] zzb999 commented on #29
thank you

[2019-12-17 03:01] #29 closed

[2019-12-20 09:36] qiuqimin opened #32 "Gradle Version Error"
# gradle
[code]
# flutter doctor
Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [Version 10.0.18362.535], locale en-US)
# Error Log
[code]

[2019-12-20 19:50] spencerccf commented on #32
Is your current Gradle version in your project set to: 5.4.1 ?

[2019-12-26 14:50] Xgamefactory opened #33 "openLocationSettings opening just device setting on IOS"
**app_settings: ^3.0.0+1**
What setting we should define in order to open location settings (under privacy) not just phone settings page.We need to forward user to the page where he can enable locations settings.

[2019-12-26 16:07] plinkos commented on #33
You will need to initially ask for location permissions via the LocationManager before you will be able to see location settings option under app settings.  The openLocationSettings is used for asking user to enable the location settings after you have asked them initially via LocationManager like this....

override func viewDidLoad() {
    super.viewDidLoad()

    locationManager = CLLocationMana

[2019-12-27 00:24] Xgamefactory commented on #33
thanks for response. but app already given location permission.
we need redirect user to location settings when location service is turned off.

[2019-12-27 01:23] plinkos commented on #33
The location settings for the app will appear In the app setting which will open up when using openLocationSettings method.  If the user turned off location settings at the OS system level on iOS there is no way to send user to that specific section of settings as Apple doesn’t allow that.  If you have the location settings setup to ask in your app and user doesn’t allow access when asked you can

[2020-01-09 09:58] saravananmnm commented on #32
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'app_settings'.

[2020-01-09 09:59] saravananmnm commented on #32
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [Version 10.0.18362.535], locale en-IN)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No issues found!

[2020-01-09 16:11] spencerccf commented on #33
@Xgamefactory Did my explanation make sense?  Were you able to get everything up and running?

Thanks

[2020-01-09 16:13] spencerccf commented on #32
@saravananmnm  I will look into this.  Have you tried clearing your cached files to perform a fresh build?

Thanks

[2020-01-09 16:21] spencerccf commented on #26
@pro100svitlo Closing this issue at this time.  Please let me know if you need any additional help.

Thanks

[2020-01-09 16:22] #26 closed

[2020-01-16 04:13] maxlapides commented on #32
I was experiencing the same error. Then I scrolled up in my logs and discovered that because I had forgotten to escape an apostrophe in an `res/values` XML file, the build failed with this error first:

[code]

Then I got the error originally posted in this thread:

[code]

So initially I thought `app_settings` was responsible, but turns out it wasn't actually the root cause of my issue.

[2020-01-22 15:36] agersea opened #34 "Android openNotificationSettings opens Do Not Disturb"
Android Emulator Pixel 3 XL

When calling AppSettings.openNotificationSettings the device navigates to Do Not Disturb settings.

Additionally, it interrupts the app history and does not allow for easy navigation back to the calling Flutter application

app_settings: ^3.0.0+1

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Mac OS X 10.

[2020-01-23 03:52] spencerccf commented on #34
What version of Android OS are you running?   I will setup Pixel 3 XL with that version and try to replicate what you are seeing.  The navigation back to the calling Flutter application is standard Android navigation... use the system back button.  iOS offers a back to app link in the upper left of the window but Android doesn't and expects the native built in back button to be used.  There is no

[2020-01-24 10:26] bambinoua commented on #33
So how to naviagate use to **Location Settings** (not **Application Settings!**) when location services are off?
So I need to open this screen
[https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios13-iphonexs-settings-privacy-location-services.png](url)

[2020-01-24 15:13] spencerccf commented on #33
iOS will not allow you to navigate to "Location Settings" Apple restricts doing that in newer versions of iOS.  You will only be able to see and access location settings for your application after you have asked for permission and user has granted access.  After user grants access to location on their phone you then will be able to see "Location Settings" under the "App Settings" for you app which

[2020-01-24 15:15] spencerccf commented on #33
@bambinoua - You can use this plugin to ask for location access/permissions for both iOS and Android: https://pub.dev/packages/geolocator  after that has been done you will be able to use "openLocationSettings" to view/change location access for your application.

[2020-01-24 16:46] bambinoua commented on #33
By the way I could open _Location Settings_ (when Location Service off for all apps) using this work around.

    final url = 'App-Prefs:root=Privacy&path=LOCATION';
    if (await canLaunch(url)) {
        await launch(url);
    }
Of course I understand that it is not allowed for publishing app but for personal needs it looks like working.

[2020-01-24 17:52] spencerccf commented on #33
Yes, that will work but def not supported by Apple anymore.  Great for personal use app but will most likely get rejected by Apple when submitting to App Store.

[2020-01-28 09:07] CodeDruid13 commented on #34
Happens also on my end. It opens do no disturb settings permission Samsung J4 plus.

[2020-02-11 07:57] amitkhairnar44 opened #36 "Possible fix for #34"
@spencerccf Hi!, Awesome plugin 👍 . I came across this plugin in need of changing notification settings. Well I found out that `AppSettings.openNotificationSettings();`  opens **Do not Disturb** settings instead of **Notifications** settings.

https://github.com/spencerccf/app_settings/blob/cff0215c7d9faa78bf98c478af0a9f2387ad53b0/android/src/main/kotlin/com/example/appsettings/AppSettingsPlugin.k

[2020-02-16 20:31] navaronbracke opened #37 "Support Settings.Panel on Android Q"
I was wondering if we could support using the new Settings.Panel API on Android Q and up?

[2020-02-17 00:29] plinkos commented on #37
Yep, I think we can do that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-22 16:52] spencerccf commented on #36
Thanks @amitkhairnar44, could you create a pull request?

[2020-02-22 16:53] #33 closed

[2020-02-22 16:53] spencerccf commented on #32
@saravananmnm did @maxlapides input help solve your issue?

[2020-02-22 17:04] spencerccf commented on #37
@navaronbracke - This is in progress...

[2020-02-22 17:05] amitkhairnar44 commented on #36
I think it would be good if you could do android version check and call the respective api.

I'll create one if I get time.

[2020-02-23 16:01] StarostaIZ opened #40 "Android Bluetooth Settings opens App Settings"
Testing on Samsung Galaxy S7 Edge

When calling openBluetoothSettings the device opens app settings.

On emulator everything works fine (oreo 8.1)
app_settings: 3.0.0+1
Flutter doctor:

[√] Flutter (Channel stable, v1.12.13+hotfix.8, on Microsoft Windows [Version 10.0.18362.657], locale pl-PL)
    • Flutter version 1.12.13+hotfix.8 at C:\flutter
    • Framework revision 0b8abb4724 (12 days ago), 2

[2020-02-24 00:27] plinkos commented on #36
@amitkhairnar44 Ok, I’ll create a PR and get the updates added. Thanks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-24 00:33] plinkos commented on #40
Ok, I have some new Android updates to put into the plugin and will debug this as part of those updates.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-25 06:28] saravananmnm commented on #32
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app_settings:verifyReleaseResources'.

  Output:  C:\Saravanan\i-eX_Driver\iex_driver\build\app_settings\intermediates\res\merged\release\values\values.xml:186: error: resource android:attr/fontVariationSettings not found.
  C:\Saravanan\i-eX_Driver\iex_driver\build\app_settings\intermediates\res\merged\releas

[2020-02-25 06:31] saravananmnm commented on #32
Somebody help to resolve this issue.

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [Version 10.0.18362.657], locale en-IN)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[!] IntelliJ IDEA Community Edition (version 2019.3)
    X Flutter plugin not

[2020-02-26 00:36] plinkos commented on #32
@saravananmnm I’ve not seen this error before.  In looking that the error details is looks like this is the fix:

Consider disabling R8 by removing 'android.enableR8=true' from your gradle.properties before publishing your app.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-26 11:18] psycura opened #41 "Option to open HotSpot settings screen"
Hello, and thank you for this awesome plugin.
Is it possible to add support for opening HotSpot settings screen?

[2020-02-26 15:47] vargavince91 commented on #37
While the update to this library is in progress... I worked on a small Android-only package exactly for this feature: [`settings_panel_android`](https://pub.dev/packages/settings_panel_android)

[2020-02-29 13:44] boskokg commented on #32
This issue happens when enableR8 is false and enableJetifier is false. When enableJetifier is true this issue is not reproduced.
Can maintainer support build when  enableJetifier is false?

I suppose plugin should have correction for distributionUrl in android/gradle/wrapper/graddle-wrapper.properties:
current:
distributionUrl=https\://services.gradle.org/distributions/gradle-4.6-all.zip
new:
dist

[2020-03-21 15:44] flutter2k20 opened #42 "compileSdkVersion 28??????? Android R's first developer preview is already out"
Hi,

Is there any particular reason why the compileSdkVersion is still 28?

Thanks!

[2020-04-13 13:23] spencerccf commented on #42
With this being a major release of Android we can offer a higher compileSdkVersion in a new Major version of the plugin.  Stay tuned please.

[2020-04-13 13:25] spencerccf commented on #41
Yes, we can get this added.

[2020-04-15 01:41] fatherOfLegends opened #44 "Namespace your method channel"
To help avoid method channel name collisions please add a namespace to your plugins method channel.

[2020-04-19 06:18] zgramming commented on #36
I got this problem too. I already follow [This comment](https://github.com/spencerccf/app_settings/issues/36#issuecomment-589976432) , but i got error like this.

<img src="https://user-images.githubusercontent.com/38829404/79680990-f6008080-823f-11ea-9f1b-00d6ac013608.jpeg" height="500">

### Source Code AppSettingsPlugin.kt
[code]
### Source code app_settings.dart
[code]

### Device Information

[2020-04-19 15:12] amitkhairnar44 commented on #36
@zgramming Yes you'll get that issue. I already said that version check should be carried out in order to avoid issues like you got right now.
To get an idea check this question on Stackoverflow : https://stackoverflow.com/questions/32366649/any-way-to-link-to-the-android-notification-settings-for-my-app

[2020-04-19 15:14] amitkhairnar44 commented on #36
@plinkos You were going to create PR for this issue right?

[2020-04-19 18:06] spencerccf commented on #42
@flutter2k20 available now in latest release 4.0.0

[2020-04-19 18:06] #42 closed

[2020-04-19 18:13] boskokg opened #46 "min sdk version"
is there any reason why min sdk version in example is changed to 21?

[2020-04-19 18:20] spencerccf commented on #40
@StarostaIZ what permissions do you have setup in your AndroidManifest.xml file for Bluetooth access?  You will need to provide access permissions there in order to use this feature.  The app settings plugin defaults to opening your app settings screen upon exception thrown... usually results from permission access.

[2020-04-19 23:16] flutter2k20 commented on #42
Perfect, Thanks! In time for our next app release version :)

[2020-04-21 13:56] mrgnhnt96 opened #47 "Subscription Settings"
I am not sure how the process is on android to get to the current subscriptions that the user is subscribed to, but on iOS is there a possible way to get to the subscription portion of settings?

[2020-04-21 14:11] Jan-pp commented on #34
Same issue on my Galaxy S6 with Android 7.0. It opens the DND page instead, but it does show the top-left back button which works fine.

However when I choose to open app settings it does not show the back button and the hardware back button doesn't work either.

[2020-04-26 11:16] uzairleo opened #48 "app_settings functions not working :("
Hi there!
i am uzair leo today i m using this flutter package but its not working for me its getting an exception  and saying me that `wifi function not found on channel app_settings`
.i will also share my screensshots with u guys hope it help to understand my problem.

![Screenshot (943)](https://user-images.githubusercontent.com/52172428/80305866-16e54a80-87d9-11ea-8f07-13df83619987.png)

[2020-04-30 10:40] aqwert commented on #34
Looking at the [code](https://github.com/spencerccf/app_settings/blob/master/android/src/main/kotlin/com/example/appsettings/AppSettingsPlugin.kt) it uses `ACTION_NOTIFICATION_POLICY_ACCESS_SETTINGS` which is for [Do not Disturb](https://developer.android.com/reference/android/provider/Settings#ACTION_NOTIFICATION_POLICY_ACCESS_SETTINGS)

Looking around the place it could use [APP_NOTIFICATION_SET

[2020-05-05 12:33] HugoHeneault opened #49 "Battery settings for iOS"
Would it be possible to implement battery panel opening for iOS ?

For android there already are a few plugins, we might also port it here?

[2020-05-18 16:36] nickpnmrv opened #50 "iOS build error"
Trying to build the iOS app after adding the dependency on app_settings package fails:
'app_settings/app_settings-Swift.h' file not found
![image](https://user-images.githubusercontent.com/28644944/82237811-89f46380-9936-11ea-9644-0258dfea4e47.png)

[2020-05-18 20:26] plinkos commented on #50
You need to set the iOS side of your Flutter project to Swift instead of Objective C

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-18 20:27] plinkos commented on #49
Would you be interested in creating a pull request?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-18 20:29] plinkos commented on #34
We will need to add a Android version check and swap out the setting accordingly.  Anyone interested in taking this one on and creating a PR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-20 10:20] JobMoll commented on #50
Hey, i got the same problem. How can i change my flutter project to swift?

Regards,

[2020-05-26 05:09] nickpnmrv commented on #50
It looks like the problem is with the new Build System: File -> Workspace Settings -> Build System. Hoever I coul not change it to the old one because of other package, so I have decided not to use app_settings package and created my ows Singleton, that would deal with configuration

[2020-05-26 13:45] spencerccf commented on #50
I will work on this issue today ... Flutter defaults to Objective C for iOS when you create a new project.  Would be nice if they used Swift ;)  There are some setting adjustments that need to be done on the iOS side and I will work on getting those updated and pushed out.

Sorry for the delay.

[2020-05-26 14:36] spencerccf commented on #48
@uzairleo Is this still an issue?  Did you ensure that you loaded the libraries and build before attempting to use them?  Sometimes you need to build the app before plugins get recognized properly.  Also, look at the sample app in the plugin... all the calls are in there for reference.

Thanks

[2020-05-26 14:37] spencerccf commented on #50
Closing this issue as it has to deal with a Flutter limitation between Swift plugins and Objective C projects and if corrected by https://github.com/spencerccf/app_settings/issues/50#issuecomment-634034725

[2020-05-26 14:37] #50 closed

[2020-05-26 14:53] spencerccf commented on #32
@saravananmnm  Setting `android.enableJetifier=true` is required for running AndroidX.  Please update your gradle.properties and that should get you up and running.

[2020-05-26 14:53] #32 closed

[2020-05-26 14:55] spencerccf commented on #36
@amitkhairnar44 Yes, sorry, sorry for the delay... had a busy past few weeks.  We'll get a PR out.

[2020-05-26 14:56] spencerccf commented on #37
@vargavince91 Why not create a PR and add to app_settings library?

[2020-05-26 15:01] spencerccf commented on #46
@boskokg  I believe this was due to Android X upgrade as well as some limits that 20 and below have due to significant updates that Android made to 20 and above.

[2020-05-26 15:01] #46 closed

[2020-05-26 15:03] spencerccf commented on #40
@StarostaIZ Is this still an issue for you?

[2020-05-26 17:02] StarostaIZ commented on #40
Sorry, forgot to answer last time. I added bt permissions and it works just as I wanted, thanks :)

[2020-06-02 12:12] HugoHeneault opened #52 "'openSettingsURLString' has been renamed to 'UIApplicationOpenSettingsURLString'"
When I try to build on iOS I got this error:

[code]

Tried with Swift 4.0 and 4.2.
Am I the only one having this issue?

Thanks 👍

[2020-06-03 09:32] sanju-developer commented on #33
With permission_handler: ^5.0.0+hotfix.8 this version.

I'm unable to open location page of application in setting, it just open setting page.

Could you please let me know what can I do 😁 ?

[2020-06-03 12:03] plinkos commented on #33
On iOS you will not be able to open location settings screen.  You can prompt user for location access in your app at anytime.  Once user has given access the openLocationSettings will display the overall app settings which will include the location settings.  Again, Apple doesn’t allow the use of the workaround to open location settings screen specifically.

<sub>Sent with <a href="http://githawk

[2020-06-05 19:29] HugoHeneault commented on #52
You simply have to use swift 4.2 instead of 4.0. It works 🍻

[2020-06-05 19:29] #52 closed

[2020-06-07 06:47] uzairleo commented on #48
yes and that's why now i am using alternativs of thid

[2020-06-11 01:17] tomarra opened #55 "Upgrade Android compileSdkVersion to 30"
With the release of a stable API for Android 11 the 'android-R' SDK has been removed and replaced with 30. Due to this removal you can't build the project at this time.

The fix should be moving the `compileSdkVersion` in `android/build.gradle` to 30

[2020-06-11 04:27] iAmGhost commented on #55
Until package is updated you can override compileSdkVersion with android/build.gradle.

[code]

[2020-06-12 19:21] YazeedAlKhalaf commented on #55
Please fix this, I have an app that I can't run because it depends on your package

[2020-06-12 19:26] YazeedAlKhalaf commented on #55
@spencerccf

This is the solution:

1. Edit this file
     - https://github.com/spencerccf/app_settings/blob/master/android/build.gradle

OLD CODE:
starts line `27`
[code]

NEW CODE:
[code]

Thanks 😊🚀

[2020-06-12 19:27] YazeedAlKhalaf commented on #55
Please approve the guy's pull request!

[2020-06-12 22:29] #55 closed

[2020-06-13 10:58] anandarch opened #57 "Could not determine the dependencies of task ':app_settings:compileReleaseAidl'"
Could not determine the dependencies of task ':app_settings:compileReleaseAidl'.

build.gradle
compileSdkVersion 29

pubspec.yaml
  app_settings: ^4.0.1

[2020-06-13 13:08] spencerccf commented on #57
You need to install Android-R... Tools > SDK Manager and download.

[2020-06-13 13:18] #40 closed

[2020-06-13 13:19] spencerccf commented on #48
Get latest version: 4.0.1+1

[2020-06-13 13:19] #48 closed

[2020-06-13 18:15] anandarch commented on #57
Hi @spencerccf ,

Thank you for your reply, getting below error now

Failed to find Platform SDK with path: platforms;android-R

[2020-06-15 15:21] m-fenix2112 commented on #57
me too ^^ I have android R did update app_sitting to 4.0.1+1
still having the erorr

[2020-06-15 16:48] anandarch commented on #57
@m-fenix2112,
You might have to change compileSdkVersion to 30 and accordingly you may have change kotlin_version to 1.30.70 and distributionUrl to https\://services.gradle.org/distributions/gradle-5.6.4-all.zip

[2020-06-15 16:57] m-fenix2112 commented on #57
Working perfectly 👏

[2020-06-16 01:20] plinkos commented on #57
Thank you @anandarch

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-16 05:16] anandarch commented on #57
Glad that it worked for you @m-fenix2112 and @plinkos
Closing this ticket since we have workaround now.

[2020-06-16 05:16] #57 closed

[2020-06-16 08:18] houdayec opened #58 "Enhancements : generic and languages settings"
Hello,

### First of all, thanks for maintaining this library, great job.

I would like to know if it is possible to add methods to be redirected on the main screen of settings for Android and also to be redirected on the language settings screen. It would be very interesting!

Thanks in advance.

[2020-06-17 10:38] asifjavaid opened #60 "App is crashing on start"
Hi guys,

My flutter application was running smooth. I have added app_settings: 4.0.1+1 package. And then I am getting the following error while the app is crashing.
     Caused by: java.lang.NullPointerException: Attempt to invoke interface method 'void io.flutter.plugin.common.BinaryMessenger.setMessageHandler(java.lang.String, io.flutter.plugin.common.BinaryMessenger$BinaryMessageHandler)' on a

[2020-06-22 23:54] mohadel92 opened #61 "i can't open wifi settings in ios"
sorry the readme guide is very short and brief
i couldnt understand how to open wifi  settings and mobile data settings in ios?

[2020-06-23 15:48] plinkos commented on #60
Is this still and issue for you?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-23 15:50] plinkos commented on #61
Settings on iOS behave very different than Android.  All settings for iOS will open up to the main app settings screen.  Apple does not allow apps to jump into specific individual settings screens but only allows app level/general settings screen.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-30 01:44] jimmyrogue opened #62 "Module 'app_settings' not found?"
![image](https://user-images.githubusercontent.com/6006189/86073382-32f5b880-bab6-11ea-9073-57c4513c5780.png)

[code]

Can u help me?

[2020-06-30 02:58] jimmyrogue commented on #62
I solved

[2020-06-30 02:58] #62 closed

[2020-07-08 08:24] vishal767 commented on #60
+1

[2020-07-08 08:29] vishal767 commented on #62
What was the error ? I'm facing the same issue

[2020-07-08 09:46] jimmyrogue commented on #62
@vishal767 vis
delete your Podfile in "ios" dir and  run commond "flutter run", flutter will create a new podfile and make sure it looks like below
![image](https://user-images.githubusercontent.com/6006189/86904175-e60f8300-c142-11ea-9e31-a3d643fd964e.png)

[2020-07-17 00:43] gkrawiec opened #63 "."
.

[2020-07-20 20:01] #63 closed

[2020-07-28 20:21] spencerccf commented on #60
@asifjavaid Are you using Java or Kotlin?  This plugin only works with Kotlin.

[2020-07-28 20:22] #61 closed

[2020-07-29 04:48] rnayala opened #66 "fatal error: 'app_settings/app_settings-Swift.h' file not found"
When trying to build the iOS app i get the following error:

/development/flutter/.pub-cache/hosted/pub.dartlang.org/app_settings-4.0.2/ios/Classes/AppSettingsPlugin.m:2:9: fatal error: 'app_settings/app_settings-Swift.h' file not found
    #import <app_settings/app_settings-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 error generated.

I am using app_settings 4.0.2 and have SWIF

[2020-07-29 10:32] plinkos commented on #66
It looks like even though you have Swift 5.2.4 running on your system your Flutter project may have been setup using defaults which uses Objective-C.   This plugin will only work with Flutter projects setup to use Swift using the `-i swift` flag.

[2020-08-03 19:51] swoltron opened #67 "On Android 'Do Not Disturb access' menu comes up with 'openNotificationSettings'"
When using AppSettings.openNotificationSettings(), the correct Notifications Settings menu comes up, but in Android the 'Do Not Disturb access' menu pops up.

Incorrect menu:
![image](https://user-images.githubusercontent.com/36624397/89221290-0a734980-d5a1-11ea-8541-ada8a656b319.png)

Desired menu:
![image](https://user-images.githubusercontent.com/36624397/89221412-3989bb00-d5a1-11ea-90f7-c53491

[2020-08-09 05:32] Sankalpjadhav opened #68 "I have an app that depends on 'android.permission.PACKAGE_USAGE_STATS' package. It looks like the permission for this package is not available currently. Will it be possible for you to add permission for this package?"
It would be great if the Usage_stats settings is included.

[2020-08-14 01:21] #34 closed

[2020-08-14 01:21] #36 closed

[2020-08-14 01:25] #67 closed

[2020-08-19 16:30] Ebsan commented on #34
I'm still having issues with API version 24. The StackOverflow and documents show that APP_NOTIFICATION_SETTINGS cannot be relied on for versions prior to API 26. In https://github.com/spencerccf/app_settings/blob/980228376a0b7fb4e4117709d053376cb3b1b4f8/android/src/main/kotlin/com/example/appsettings/AppSettingsPlugin.kt#L67 should be changed to `>= 26 `not 21.

[2020-08-20 03:45] itMcdull opened #70 "All options open the current 'app' settings section if there are settings defined. If no current settings are defined for the app the iPhone Settings Screen will be displayed."
Can I not set the current settings for the application?

[2020-08-20 14:02] plinkos commented on #70
What settings are you looking to set for the application?

[2020-08-20 16:25] itMcdull commented on #70
What I mean is how to jump to the system settings above ios 10, is there any way, even if it is rejected, it does not matter

[2020-08-26 12:43] utpal-barman opened #71 "Location settings page sends me back to Settings page"
[code]

I used this to get to the settings page on Android, it works fine, going to settings page, but when I press the back icon (Appbar leading Icon on Location Settings Page), it navigates to the Settings Screen of my phone, but usually, users don't want to see this. I guess, if it can be implemented in a way that clears the stack, and directly navigate me to the app screen.

[2020-09-08 07:47] CoolBerry opened #72 "[iOS] How to link to general setting page not app setting page in iOS?"
openAppSetting will link to app setting page.
Is there a way to link to general setting page in iOS?

Thanks。

[2020-09-08 16:08] Chrisjc28 opened #73 "Not able to open display settings on iPhone"
when using ```AppSettings.openDisplaySettings()``` on a iphone simulator it doesn't open the correct settings page just takes you to the app settings page

[2020-09-11 14:41] plinkos commented on #70
There is a way to do that but it's no longer supported by Apple and our plugin will not be able to support that feature.

[2020-09-11 14:41] #70 closed

[2020-09-11 14:44] plinkos commented on #71
Going to add this to our list of enhancements and see if there is a way to have the back icon send user back to app.  In most cases this does.  What version of Android are you running?

[2020-09-11 14:46] plinkos commented on #72
In iOS this is not allowed per Apple.  The plugin will only support iOS features supported by Apple as to not get apps rejected from App Store.

[2020-09-11 14:46] #72 closed

[2020-09-11 14:47] utpal-barman commented on #71
Android 9

On Fri, Sep 11, 2020, 8:44 PM plinkos <notifications@github.com> wrote:

[2020-09-11 14:55] plinkos commented on #73
We will investigate this feature for iOS.  In doing some initial research this looks like it's possible to adjust some display settings however Apple will most likely not allow you to open the actual Display Settings screen programmatically.  If there is a display setting added to the plugin then those will appear in under the App Settings.

[2020-09-16 16:49] deakjahn opened #74 "Wrong package name "com.example.appsettings""
You're not supposed to use `example.com`. The Android platform part would need a correct ID. Yes, the IDE starts a project with it but you're supposed to change it. If you don't have a domain name of your own, you could probably use `io.flutter.plugins` but you should probably ask. :-)

[2020-09-20 08:56] atefsawaed commented on #66
I've had the same issue and I solved it by adding use_frameworks! to my Runner project in my Podfile.

- target 'Runner' do
    use_frameworks!

[2020-09-22 18:38] #60 closed

[2020-10-21 17:41] davidAg9 opened #76 "Sdk not found"
### flutter version:1.22.2

 Could not determine the dependencies of task ':compileReleaseAidl'.

your project's local properties file at
'/Users/username/Desktop/devEnv/flutter/.pub-cache/hosted/pub.dartlang.org/app_settings-4.0.4/android/local.properties'.

[2020-10-23 12:59] brasizza opened #77 "Problem with IOS (GeneratedPluginRegistrant)"
Hi!
My app was fully compiled and i was testing yesterday without any problem.
Today i had to compile another version and now i got this error

GeneratedPluginRegistrant.m:10:9: fatal error: module 'app_settings' not found
    @import app_settings;

i`m using (   app_settings: ^4.0.4) and even with the older version the errors are the same.

can you help me ?

[2020-10-23 16:17] plinkos commented on #76
Flutter just released this new version.  We will need to upgrade the plug-in with the latest.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-10-23 16:18] plinkos commented on #77
Are you using the new version of Flutter?  Flutter just released this new version.  We will need to upgrade the plug-in with the latest.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-10-23 16:19] brasizza commented on #77
Just fixed upgrading the base ios version from 10 to 12... what a think!!
thanks!

[2020-10-23 16:19] #77 closed

[2020-10-24 17:34] davidAg9 commented on #76
we should I expect the your next version

[2020-10-26 06:50] davidAg9 commented on #76
is there a work around I really need to deploy my application

[2020-10-26 06:54] davidAg9 commented on #76
I looked into the android folder in the package where the error was coming from  and there appears to be no local.properties

[2020-10-26 09:02] davidAg9 commented on #76
### Here is a stacktrace

###  FAILURE: Build completed with 2 failures.
[        ] 1: Task failed with an exception.
[        ] -----------
[        ] * What went wrong:
[        ] Execution failed for task ':app:processReleaseResources'.
[        ] > A failure occurred while executing com.android.build.gradle.internal.tasks.Workers$ActionFacade
[        ]    > Android resource linking failed
[

[2020-11-12 03:13] eliasjtg commented on #76
I need deploy my app, any work around?

[2020-11-12 03:56] spencerccf commented on #76
It's very strange that the local.properties file would be included for app_settings as it's not part of the final plugin since it's a locally specific file to user's development machine.  Do you have your own local.properties file under your /Android folder with the following items defined:

sdk.dir=/Users/yourcomputerusername/Library/Android/sdk
flutter.sdk=/Users/yourcomputerusername/Library/Dev

[2020-11-12 03:57] spencerccf commented on #76
I just tested the plugin in example app running flutter 1.22.3

[2020-11-12 13:48] spencerccf commented on #66
@rnayala please try @atefsawaed solution... should solve your issue.  I'm closing this ticket for now... re-open if you still have an issue.

[2020-11-12 13:48] #66 closed

[2020-11-18 15:24] shabeenabarde opened #78 "App Exits/Closes after Switching on Camera Permissions From Settings on iOS (for app_settings: ^4.0.4)"
I use a permission handler (Package permission_handler: ^5.0.1+1) where by It helps me to handle the errors when Allowing or not allowing permissions for accessing the camera in my flutter app. For the camera, I use the package image_picker: ^0.6.3+4. I have a Photo icon where by when clicking onto it, the function of the image picker is triggered. So After clicking on the icon, I get the Pop up i

[2020-11-18 16:10] spencerccf commented on #78
Do you have the camera usage keys in your info.plist file: https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/plist/info/NSCameraUsageDescription

[2020-11-19 12:15] shabeenabarde commented on #78
Yes I do.

[2020-11-23 21:21] EgHubs opened #79 "Error in IOS building: fatal error: module 'app_settings' not found @import app_settings;"
The error appears when I try to build my app, flutter run.

Terminal output:

[code]
My Podfile

[code]
Flutter Doctor:

[code]

[2020-11-24 00:34] plinkos commented on #79
It looks like you are using Objective C for your iOS project.  This plugin only works with Swift.  There is I believe a Flutter limitation that doesn’t allow bridging between a Swift plugin and Objective C.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-11-24 00:37] plinkos commented on #78
Ok, thanks.  This may be an issue with new iOS 14.  I will do some debugging and see what I can find.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-11-24 14:50] EgHubs commented on #79
The bug had nothing to do with the package, solved it by the following:
[https://github.com/FirebaseExtended/flutterfire/issues/1979#issuecomment-590173571](url)

[2020-11-24 14:50] #79 closed

[2020-12-09 11:41] designdistrict commented on #76
Same problem here. And i have these variables in local.properties.

[2020-12-09 13:38] spencerccf commented on #76
I've not been able to reproduce this error.  Anyone else able to help?

[2020-12-15 12:28] StrangeNoob opened #80 "All Methods open the App Settings Page."
When I tried to open openLocationSetting(), It open App Settings. Then I tried other methods, I found myself in the same position.

This is happening on my iOS device and Simulator.
iOS Version : 14.0.1
Model Name: iPhone 6s

[code]

[2021-01-01 18:58] arvinth10 commented on #80
Am seeing the same issue on iOS 14.1

[2021-01-08 07:03] ArvindNagaonkar commented on #41
Can someone give me basic guidance about this?
I like to do this as quickly as possible.

[2021-01-08 22:07] tapizquent opened #81 "Open Location Services (Not location settings for app)"
While using the package, there are times when you need to open the Location Services of iOS instead of the Location settings for the app.

Privacy -> Location Services

[2021-01-13 00:38] friebetill opened #82 "The app wasn't found in the list of installed apps."
When I call the `AppSettings.openNotificationSettings` method in Android, I get the message:

The error occurs in the latest version 4.0.4 and I use Android 7.0 Nougat (API 24). On iOS the function works perfectly.
I could not test the versions 4.0.0, 4.0.2 and 4.0.3, because they already failed during compilation.

My guess is that the package name of `this.activity.packageName` is not correct, s

[2021-01-13 04:45] Pinkal7600 commented on #76
I face the same issue while creating the Android build.

After spending sometime for solution, I got to know that I have used **28** for **`compileSdkVersion`** and **`targetSdkVersion`** in my 'Flutter project'->'android'->'app'->'build.gradle'.

Simply upgraded to **29** for both **`compileSdkVersion`** and **`targetSdkVersion`**. Boom!, I was able to create an Android build.

Hope this solution

[2021-01-20 10:03] houdayec commented on #37
@spencerccf Any news? Did you implement it?

[2021-01-21 18:39] spencerccf commented on #80
This is correct behavior according to Apple.  I believe the use of direct access to specific screens was removed in iOS 11 and above.  If you use a library like GEOLocator to ask for location permission and user denies access... you can then use this plugin to open your app settings to allow user to turn on location access.  In order for location setting option to even appear in your app settings

[2021-01-21 18:39] #80 closed

[2021-01-21 18:41] spencerccf commented on #81
This is not possible since about iOS 11.  Apple will only allow the opening of App Settings screen.  Was a similar question here: https://github.com/spencerccf/app_settings/issues/80

[2021-01-21 18:41] #81 closed

[2021-01-21 18:44] spencerccf commented on #76
Thanks @Pinkal7600

[2021-01-21 18:44] #76 closed

[2021-01-21 18:47] spencerccf commented on #78
Why are you using app settings when the native iOS prompt based on info.plist and Camera access request will do everything you need?  You should not still have to call AppSettings.openAppSettings() in the background.  The two are probably canceling each other out.

[2021-01-23 06:31] Godfather6666 opened #83 "Open the Settings home page"
I want to go straight to the Settings home page which function should I use?I want to go to the home page instead of going to the details page of a particular setting.

[2021-01-23 06:42] Godfather6666 commented on #83
Please help me. I'd appreciate it.

[2021-01-23 17:00] spencerccf commented on #73
Which display settings are you looking to use in your app?  I am working on adding the ability to change brightness from 0.1 to 1.0 so you can control screen brightness from within your app.

[2021-01-27 11:49] AleksandarSavic95 commented on #83
The same question was asked here - #72
The answer is - Apple forbids that, so it won't be implemented in the package.

[2021-02-01 10:40] zigapovhe opened #85 "Null Safety"
Are there any plans to add null safety support, and if so: when do you think this might happen?

[2021-02-02 01:15] plinkos commented on #85
Yes, I’ll get that updated in the next day or so and push up a new version.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2021-02-02 07:56] zigapovhe commented on #85
Perfect, thanks!

[2021-02-03 03:59] plinkos commented on #85
@zigapovhe apologies for the delay... still working on migrating to null safety.

[2021-02-03 08:12] zigapovhe commented on #85
No worries. If you need some help, please let me know.

[2021-02-06 01:34] LEMUSADR000 opened #86 "AppSettings.openBluetoothSettings and AppSettings.openAppSettings() futures immediately complete on Android"
When using this package and calling `await AppSettings.openAppSettings()` on an Android device, the future for this call immediately completes whereas on iOS it doesn't completely until the user returns to the application. I'm trying to reload data when the user navigates back to the app but none of the things I'm trying seem to be working including using WidgetsBindingObserver.

Is this done on p

[2021-02-06 01:34] #86 closed

[2021-02-06 01:35] LEMUSADR000 commented on #86
Realized that iOS redraws the application when permissions change.

[2021-02-25 13:50] mat-sienczyk opened #87 "On Android, give option to open settings as new task"
On Android, for standard launchMode in Flutter (which is "singleTop"), when we for example run AppSettings.openWIFISettings();, WiFi setting is opened in the same task/application as Flutter app which can be misleading for some of the users that want to go back to the app from recent apps or launcher icon, no back button

This is happening because we starting an activity without any flags, would b

[2021-02-26 23:29] radvansky-tomas commented on #78
Same here...it says its related to Shared App Groups entitlement. I've added that entitlement, but it does not solve the problem.

But I suspect is more related to https://github.com/rmtmckenzie/flutter_qr_mobile_vision I am using with it...which is not correctly handling app switching

[2021-03-02 06:52] mat-sienczyk commented on #87
I've created sample PR for that: https://github.com/spencerccf/app_settings/pull/89

[2021-03-03 01:01] #85 closed

[2021-03-05 13:24] welfvh opened #91 "Could you add shortcut settings?"
prefs:root=SHORTCUTS

thank you!

[2021-04-06 21:54] mrigankdoshy opened #93 "Unable to open any settings"
When tapping on the tile, the settings page does not open on iOS. I'm using a physical device to run the app in debug mode. The tile does get clicked (checked with print statements) but it does not navigate to the settings for the app.

Any help would be truly appreciated! Happy to provide any more information if needed

<img width="625" alt="Screen Shot 2021-04-06 at 5 52 05 PM" src="https://user

[2021-04-07 11:02] Praveen-Ramalingam opened #94 "AppSettings.openSecuritySettings() opening security settings but need to open Lock Screen and password settings screen in Android."
In this case, my device has lock screen and password as settings for security rather the name as security so how to handle this case.

![image-2021-04-05-13-55-05-122](https://user-images.githubusercontent.com/73332872/113856225-9851a500-97be-11eb-9473-c74f3f69dc1d.png)
![image-2021-04-05-13-54-06-937](https://user-images.githubusercontent.com/73332872/113856234-9a1b6880-97be-11eb-892e-8296fe27d89

[2021-04-07 13:19] Praveen-Ramalingam commented on #94
@spencerccf Can you please help me on this issue

[2021-04-08 04:11] Praveen-Ramalingam commented on #94
Any update on this issue @spencerccf

[2021-04-08 15:23] mrigankdoshy commented on #93
@spencerccf Any help would be truly appreciated!

[2021-04-08 16:05] plinkos commented on #93
Hi, have you tried AppSettngs.openLocationSettings() ?

[2021-04-08 16:07] plinkos commented on #94
This will need to be an enhancement to the plugin.  See: https://stackoverflow.com/questions/53778920/android-open-lock-screen-settings-programmatically

[2021-04-08 17:49] mrigankdoshy commented on #93
That was just dumb on my part, thank you, it worked!

[2021-04-08 17:49] #93 closed

[2021-04-28 23:17] avkonst opened #95 "Add openPowerSaverSettings"
Would be great to have an API to open battery saver system settings screen.

[2021-04-28 23:19] avkonst opened #96 "Consider merging open_settings to app_settings"
I came across [open_settings](https://github.com/AliHoseinpoor/open_settings) plugin. It is more complete for Android, not sure if mature enough. But it is empty for iOS. It would be great to see open_settings effort merged to app_settings for better completeness.

[2021-04-29 00:09] entonio commented on #29
I'm having this issue on Xcode 11.3.1 on Mojave when trying to add a flutter module to an app using the Podfile / install_all_flutter_pods approac described in 'Option A' at https://flutter.dev/docs/development/add-to-app/ios/project-setup. I'm using 3.0.0+1. What can I do?

[2021-05-10 08:38] 5115191 commented on #76
same issue,`compileSdkVersion ` and `targetSdkVersion `  is `29`

[2021-05-12 09:38] EjazAmir opened #97 "GeneratedPluginRegistrant.m line 280"
Hello,
I used app_settings package in my app and it works fine but on firebase it shows stability error. Here's the firebase crashlytics report.

<img width="999" alt="Screenshot 2021-05-12 at 2 37 11 PM" src="https://user-images.githubusercontent.com/25684301/117953544-8ae48900-b32f-11eb-9ded-cb36c3b04dc6.png">

[2021-05-25 10:38] ozz-rjq commented on #76
same issue

[2021-06-05 02:19] madd-project commented on #28
@pavel-birdy  haha, that was so funny. 😃

[2021-06-05 02:25] madd-project commented on #28
Can you Provide the Code, that worked for you? I am getting same errrors.

[2021-06-11 20:32] AlexHartford opened #99 "openXyzSettings futures immediately return"
Hi, I'm wondering if there would be a way to have this code behave as expected:
[code]

Both of these print immediately. I tried adding an await in the library code but then the function never returns at all, so the second print would never be reached.

[2021-07-02 09:48] Spad8 opened #103 "Gradle cannot configure ':app_settings' project."
I'm having issues building my project
Is there anyone who knows or has already seen this kind of error?

[code]

I'm using gradle 6.7 and flutter 2.2.3, although i think its irrelevant
This is my flutter doctor output:

[code]

I've already changed flutter version, android studio versions, jdk versions.
I also verified that some of the errors are present on another machine, but not all of them...

[2021-07-15 01:52] VictorLekweuwa commented on #28
I'm facing the same issue. Is there a fix for this?

[2021-07-17 04:17] pavel-birdy commented on #28
I actually don't remember this issue I failed to provide any help.

from here I can only guess that, I added `Navigator.of(context).pop()` before `AppSettings.openLocationSettings()`.

[2021-07-20 13:05] yasaman93 opened #104 "TTS Settings"
It seems that I can't use this library to open Text-to-Speech settings on both android and ios using flutter.
Can you add this setting to the library?

[2021-07-26 10:18] putheakhem commented on #73
@spencerccf  I'm looking for WIFI and Mobile Data Setting.

[2021-08-09 10:01] IRTonyCHAN opened #107 "How to open general settings in iOS?"
Is there any method allow to open general setting page?
Currently all method on iOS is open app setting page.

Since I saw this app can go to general setting page instead of app setting page.
https://apps.apple.com/app/%E7%B1%B3%E5%AE%B6/id957323480

[2021-09-03 08:38] iOSonntag opened #108 "Package is constantly pasting from clipboard!?!"
Once I include this package the simulator is showing that the app copied the clipboard every time i copy another text on the local machine and renter the simulator and swap a page.

I thought it can't be this package but it turns out after I just remove this package the messages are gone.

[2021-09-03 08:41] #108 closed

[2021-09-22 15:21] GaelleJoubert opened #109 "OpenBluetoothSettings takes me to "Connected devices" Page"
I'm using the "AppSettings.openBluetoothSettings();" function, and instead of taking me to the bluetooth page where I can enable or disable the bluetooth, it takes me to the "Connected Devices" page.

From here if I want to enable the bluetooth, I need to clic on "Connexion Preferences", and then "Bluetooth".

By trying everything, I realised that "AppSettings.openNFCSettings();" takes me to that

[2021-09-22 18:06] OGmetamonkey commented on #107
I would also highly appreciate help doing this. Preferably for versions 4.0.4 and below.

[2021-10-01 12:04] DuncanKelbie opened #110 "iOS 15 - AppSettings.openLocationSettings() goes to wrong setting screen"
On iOS 15, AppSettings.openLocationSettings() opens the app settings screen instead of the location settings screen. On previous versions of iOS, this would open the location settings screen.

[2021-10-19 08:52] jahnli opened #111 "A callback on return"
I can jump to wifi Settings, how can I listen back and get wifi information again

[2021-11-01 09:53] mustakimpawle commented on #94
Any update on this?

[2021-11-02 13:16] Artur-Wisniewski commented on #110
On iOS 15 I have this behavior on every `AppSettings.open...Settings()`

[2021-11-27 09:53] AliRezaBeitari commented on #110
Me too. None of the methods work and only navigate me to the  general app settings screen.

[2021-11-30 12:57] EjazAmir commented on #76
Hi
Did you find any solution for this?

[2021-12-09 09:44] EtienneBauscher commented on #78
Some application owners want their prospective Clients to try out an app before they actually buy their product linked to the app. The application upon installation and start-up requests the needed permissions from the User which prospective Clients might not grant.  Exploring the application further they discover that these permissions are needed should they want to go further exploring the appli

[2021-12-10 19:13] fullflash opened #113 "app not build on android after 4.1.1 update"
[code]

[2021-12-20 12:25] chloe722 opened #114 "Build APK failed: app_settings:verifyReleaseResources'. in Android core 1.7.0"
Hi,

After upgrading Flutter to the latest 2.8.0 and 2.8.1 and using the lates**t android core version** **`details.useVersion "1.7.0"`**. in **`android/build.gradle`**

The APK build failed with error:

[code]

Please see the information below:

### Flutter doctor
[code]

### `android/build.gradle`
[code]

### `app/build.gradle`

[code]

I tried to :
* Clean the cache in `.gradle/caches` and run

[2021-12-23 01:58] eggyot opened #115 "NOT WORK AT IOS"
all method this plugin not work at IOS

I open bluetoothSetting or displaySetting or others always open general my app setting

ios : 12.5.1
app_settings: ^4.1.1

[2021-12-26 11:01] savar commented on #74
Any planned updates on that?

[2021-12-28 12:57] kanakapalli opened #117 "No implementation found"
[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method location on channel app_settings)

[2022-01-17 09:41] temarez opened #119 "Migrate maven repository from JCenter to MavenCentral"
[jcenter.bintray.com](https://jcenter.bintray.com/) will not be available since February 1st, 2022. See more info at [JCenter and Bintray is shutting down, what to do?](https://testfairy.com/blog/jcenter-and-bintray-is-shutting-down-what-to-do/)
This may cause inability of the project using `app_settings` to be built on the clean environment.

Migration can be done by replacing `jcenter()` to `mav

[2022-01-20 12:39] sonelektrikci commented on #109
I'm getting the same issue. openBluetoothSettings() does not direct to the bluetooth page.

[2022-02-10 04:23] rjkolli7 opened #120 "fatal error: module 'app_settings' not found"
Am using Macbook with M1 chip..

Got this error when running `flutter run ios`

               @import app_settings;
[code]

[2022-02-16 06:52] flutter-clutter commented on #120
Exactly the same issue. Also using a Macbook with M1 chip.

Precisely, it occurs whenever I execute

[code]

which is exactly what is executed in my CI-pipeline. Unfortunately this leaves me unable to build my project.
In the pipeline, a Mac Mini is used so I guess it has nothing to do with the architecture.

[2022-02-16 13:20] lohanbodevan opened #121 "Error to build: Execution failed for task ':app_settings:compileDebugKotlin'"
When trying to build a Flutter app with app_settings as dependency I get the following error:

[code]

Additionally, I get some Flutter Fix recommendation in the console:

[code]

Flutter version:
[code]

[2022-02-16 23:42] #121 closed

[2022-02-17 22:26] large commented on #111
I was looking for a callback function too.
Still learning Flutter, so this might not be the "correct" way todo it, but it seems quite smooth:

[code]

When you "leave" your app with one of the app_settings functions, you'll know when user returned.

[2022-02-22 23:57] TheJulianJES opened #124 "Not working on Flutter master branch"
The latest master branch of ``app_settings`` doesn't seem to work with the latest master branch of Flutter.

Compilation error:
[code]
Issue:
https://github.com/spencerccf/app_settings/blob/bef4a699ae37c1ed19e3590ed9ff9e87274de3c4/android/src/main/kotlin/com/example/appsettings/AppSettingsPlugin.kt#L44

[2022-02-23 00:00] plinkos commented on #124
Try …

flutter pub cache repair

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-02-23 01:35] TheJulianJES commented on #124
That doesn't seem to work for me.

Changing the line to the following does seem to work (although it's less than ideal).
[code]
I'm not sure what changed on Flutter's side that would cause this though.

[2022-03-01 11:20] pepe19000 commented on #117
[This](https://github.com/spencerccf/app_settings/issues/119) will solve your problem :) Just replace "jcenter()" to "mavenCentral()" in your application.

[2022-03-03 09:02] TheJulianJES commented on #124
Might have been a bug in Flutter. Updated to the latest master branch and I think it's working without the changes now.

[2022-03-03 09:02] #124 closed

[2022-03-09 04:53] JoshanTandukar opened #125 "AppSettingsPlugin.kt: (44, 25): Type mismatch: inferred type is Activity? but Activity was expected"
AppSettingsPlugin.kt: (44, 25): Type mismatch: inferred type is Activity? but Activity was expected

[2022-03-11 01:54] chinzorigts commented on #120
Me too. Exactly the same issue. I am using Macbook Pro 2017.

[2022-03-11 02:15] plinkos commented on #120
I see you are using Flutter beta channel… beta may not be totally ready yet.  Try stable channel.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-03-15 08:51] javieritis commented on #120
any solution?

[2022-03-18 19:30] batuhankrbb commented on #125
I get the same error

[2022-03-24 14:30] sayem118 commented on #125
I have the same issue

[2022-03-24 18:50] large commented on #125
Same issue after changing back to "flutter master" channel

[2022-03-30 08:26] josephmangmang commented on #120
same error here :(

[2022-04-02 18:23] agnoam opened #128 "Class 'kotlin.Unit' was compiled with an incompatible version of Kotlin. The binary version of its metadata is 1.5.1, expected version is 1.1.16."
Hey,
I'm trying to build an app, that I didn't changed a long time (6 month).

After I have updated my flutter from `2.0` to `2.10.3` it failed to compile with those errors.
What should I do?

<details>
    <summary>Flutter build errors</summary>
[code]
</details>

Content of: `android/build.gradle`
[code]

Content of: `android/gradle/wrapper/gradle-wrapper.properties`
[code]

[2022-04-04 16:08] plinkos commented on #110
This is normal behavior on iOS ... Apple doesn't allow any app to open any specific screen.  The App Settings screen should provide what settings that your app has implemented first.  If you app has implemented say location settings via prompting the user for location... that will then appear in app settings screen.  Android will allow you to open individual screens.

[2022-04-04 16:08] #110 closed

[2022-04-04 16:32] plinkos commented on #94
Now available in pub.dev version: 4.1.3

[2022-04-04 16:32] #94 closed

[2022-04-04 16:36] plinkos commented on #128
Please try latest pub.dev version: 4.1.3

[2022-04-04 16:36] #128 closed

[2022-04-04 16:36] plinkos commented on #125
Please try latest pub.dev version: 4.1.3

[2022-04-04 16:36] #125 closed

[2022-04-04 16:37] plinkos commented on #120
Please try latest pub.dev version: 4.1.3

[2022-04-04 16:37] #120 closed

[2022-04-05 11:15] alihassan143 opened #130 "Xcode archive failed for xcode 13.3"
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.4, on macOS 12.2.1 21D62 darwin-x64, locale en-PK)
[✓] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[✓] Xcode - develop for iOS and macOS (Xcode 13.3)
[✓] Chrome - develop for the web
[✓] Android Studio (version 2021.1)
[✓] VS Code (version 1.66.0)
[✓] Connected device

[2022-04-05 18:00] plinkos commented on #130
I'll upgrade from 13.1 to 13.3 and see If I can reproduce the error you are seeing.

[2022-04-05 18:43] plinkos commented on #119
Done... get latest version from pub.dev 4.1.4

[2022-04-05 18:43] #119 closed

[2022-04-05 18:44] #58 closed

[2022-04-05 18:44] #68 closed

[2022-04-05 18:44] #71 closed

[2022-04-05 18:44] #73 closed

[2022-04-05 18:44] #74 closed

[2022-04-05 18:44] #78 closed

[2022-04-05 18:44] #82 closed

[2022-04-05 18:44] #83 closed

[2022-04-05 18:44] #87 closed

[2022-04-05 18:44] #91 closed

[2022-04-05 18:44] #95 closed

[2022-04-05 18:44] #96 closed

[2022-04-05 18:44] #97 closed

[2022-04-05 18:44] #103 closed

[2022-04-05 18:44] #104 closed

[2022-04-05 18:44] #107 closed

[2022-04-05 18:44] #109 closed

[2022-04-05 18:44] #111 closed

[2022-04-05 18:44] #113 closed

[2022-04-05 18:44] #114 closed

[2022-04-05 18:44] #115 closed

[2022-04-05 18:44] #117 closed

[2022-04-05 18:46] #28 closed

[2022-04-06 19:56] kekko7072 commented on #130
+1

[2022-04-06 21:12] plinkos commented on #130
I have Xcode 13.3 and Flutter 2.2.2 - channel stable.
I'm able to create a sample Flutter project including the app_settings plugin within the pubspec.yaml and implementing a couple of the calls.   Running and debugging in Xcode works fine.  Also, generation of the Archive worked fine as well.

Are you able to run the app on simulator in Xcode?
Did you run: pod install inside of the iOS directory

[2022-04-07 05:03] alihassan143 commented on #130
Now i can be able to build archive by creating new flutter project and app archive is successful i think its flutter project ios file issue after all the previous configurations archive build successfull

[2022-04-07 20:49] kekko7072 commented on #130
I solved without creating a new app just following [this comment](https://stackoverflow.com/a/71623137/13397584) and [this comment about pod problem](https://stackoverflow.com/a/71699463/13397584) I run and I had on terminal
[code]
and problem was fixed.

[2022-04-08 05:31] #130 closed

[2022-04-13 06:36] palmsnipe commented on #120
Same issue there with the version 4.1.5. I am targeting iOS 12.0.
[code]

[2022-04-14 02:30] weihenglim commented on #99
Issue is still present in the latest version (4.1.5), is this the intended behavior?

[2022-04-30 12:17] mcfugger commented on #41
Hi, please checkout my pull request #135

[2022-04-30 12:18] mcfugger commented on #41
It was tested on Android 10 and Android 11 phones successfully.

[2022-05-05 15:43] amatier2 opened #138 "Open healthkit settings?"
Is there a way to open health kit settings baked into this? I know its actually pretty difficult to do this in swift as it isn't supported by Apple explicitly. I think I found a way to do it so if this doesn't exist yet should I try opening a PR?

[2022-05-12 13:24] RUSSCITY opened #139 "After updating to Flutter 3.0.0 there is error: Redeclaration: AppSettingsPlugin"
I have updated my flutter to stable 3.0.0 and cannot run my project anymore.

flutter doctor:
[code]

Error:
[code]

[2022-05-12 13:29] #139 closed

[2022-05-16 02:54] horo99 commented on #120
I'm stuck in the same question

[2022-05-16 08:11] horo99 commented on #120
I know the problem, and I have solved it.
It doesn't matter whether this plugin is used, but iOS version in pod file does matche with deployment info in Xcode.

https://stackoverflow.com/questions/61956166/flutter-module-not-found-in-xcode

[2022-05-19 07:23] gurpreet-ganger opened #140 "Unable to run the application after Flutter update to 3.0.0"
`AppSettingsPlugin.kt: (44, 25): Type mismatch: inferred type is Activity? but Activity was expected `

[2022-05-19 07:35] gurpreet-ganger commented on #140
Opps! updating library resolved the issue, Thanks for this amazing plugin

[2022-05-19 07:35] #140 closed

[2022-05-19 13:21] tudor07 opened #141 "Flutter 3.0 : Execution failed for task ':app_settings:compileDebugKotlin'"
After Flutter 3 upgrade the Android build fails

[code]

[2022-05-19 13:24] plinkos commented on #141
This plugin has not yet been upgraded to Flutter 3.0.  Feel free to create a pull request to upgrade.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-05-20 16:00] vargascarlitos commented on #141
tomorrow I have free and I will send the PR :P

[2022-05-23 03:42] rafaelcolladojr commented on #141
@vargascarlitos looking forward to your PR!

[2022-05-23 11:17] nolcreak commented on #138
@amatier2 Can you share how you solved it?

[2022-05-23 15:19] amatier2 commented on #138
I'm thinking using `x-apple-health://sources` as the string to navigate to might work, but am unsure.

[2022-05-30 14:43] kaciula commented on #141
Hi. Does anyone have a temporary workaround for using this plugin on Flutter 3?

[2022-06-06 13:17] matAlmeida commented on #141
@kaciula I created a PR #142 with the fix, but meanwhile it's reviewed you can install from my repo.

[code]

[2022-06-08 13:54] Galti commented on #141
@plinkos This issue can be closed as [the PR](https://github.com/spencerccf/app_settings/pull/142) already merged.

[2022-06-09 09:07] iLoveDocs opened #143 "Because myApp depends on app_settings >=4.1.7 which requires SDK version >=2.12.0 <=2.17.1, version solving failed."
Is there a reason why `app_settings` is using

[code]

instead of

[code]

I am unable to use it (unless I downgrade Flutter).

[2022-06-09 17:51] Renesanse opened #144 "Notification settings on iOS opens just settings of the app"
last version from pub.dev

[2022-06-09 17:54] plinkos commented on #144
This is correct behavior on iOS.  Apple does not allow access to specific screens like Android does. In order to do similar on iOS you need to implement notifications in your code and at least prompt the user once for notification permission.  Then that permission will end up in the App Settings which is where this plugin will take the user on subsequent requests.

[2022-06-09 17:55] plinkos commented on #143
Yes, the SDK is dart and dart does not have 3.0 yet.  Flutter is set to 3.0.1... this is per Google pub.dev.

[2022-06-09 17:56] #141 closed

[2022-06-09 18:52] iLoveDocs commented on #143
@plinkos

Setting
[code]

doesn't necessarily mean the Dart needs to be on `3.0.0`. It's the standard convention. All it means is we are targeting Dart SDK till the version `3.0.0` (which may not exist and it's totally fine). Correct me if I'm wrong.

[2022-06-09 20:01] plinkos commented on #143
Pub.dev rejected that setting with response that there is no Dart 3.0.

[2022-06-09 20:09] plinkos commented on #143
Uploading...
The SDK constraint allows Dart 3.0.0, this is not allowed because Dart 3 does not exist.
pub finished with exit code 1

[2022-06-09 20:11] plinkos commented on #143
Done... it is now set to  < 3.0.0 ... I must have set it to <= so it would attempt to go up to Dart 3.0 which doesn't exist yet.  Get latest version: 4.1.8

[2022-06-10 11:05] Renesanse commented on #144
@plinkos ok, thx for answer

[2022-06-10 11:05] #144 closed

[2022-06-11 05:31] iLoveDocs commented on #143
@plinkos Thanks, that worked !

[2022-06-11 05:31] #143 closed

[2022-07-03 12:02] reijerteunis opened #145 "New feature request"
Hi,

Thanks for this amazing plugin. I have a question, can you also add functionality to open the health settings.

Thanks.

Ruud

[2022-07-07 12:14] d-wolf commented on #109
@plinkos The issue is still present. Tested on my Android 10 and 12 devices. For both the openBluetoothSettings command opens the connected devices page.

[2022-07-11 08:06] SuYungCheng opened #146 "How can I go to General Settings screen in Ios platform ?"
I use your github demo code (version 4.1.1) :  `AppSettings.openWIFISettings(); ` can to general settings screen.

But in my project, and use the same code : ` AppSettings.openWIFISettings();`
just always go to app settings?

don't know why?

The document says:
All options open the current 'app' settings section if there are settings defined. If no current settings are "defined" for the app the iP

[2022-07-11 23:53] elmar001 commented on #146
I also need that one. But seems like it can only open app settings if there is any app settings - permissions etc.

[2022-07-12 01:49] SuYungCheng commented on #146
It's very strange!

I create a native iOS project  and it can open general settings.
But after I use my flutter project and use channel method to call native code.
It goes to app settings.

Maybe like you said , something in the app settings.

But other app also has that, and it can go general settings.

[2022-07-12 12:46] plinkos commented on #109
I will take a look and see what I can adjust for those OS versions.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-07-13 00:55] SuYungCheng commented on #146
ya, I know it can't access to WIFI settings.

what I want is to open General Settings and don't use the rejecting words  "Prefs:root".

It will be reject by apple.

[2022-07-21 06:02] Yongle-Fu commented on #60
0   libswiftCore.dylib            	       0x19c437990 swift_getObjectType + 40
1   app_settings                  	       0x105ed006c static SwiftAppSettingsPlugin.register(with:) + 108
2   app_settings                  	       0x105ed006c static SwiftAppSettingsPlugin.register(with:) + 108
3   app_settings                  	       0x105ed025c @objc static SwiftAppSettingsPlugin.register(with:) + 5

[2022-07-21 07:43] SuYungCheng commented on #146
@plinkos  you mean if I implement the security for WiFi access in info.plist, I will always open App Settings. Right?

[2022-07-21 12:44] plinkos commented on #146
Yes, the settings you have permission granted for will appear in app settings screen.

https://betterprogramming.pub/wifi-permission-changes-for-ios-12-1-iphone-x-and-other-devices-c313e24f90ae

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-07-24 12:35] adiPumba opened #147 "[IOS] How can I go to General Settings -> Apple Account -> Subscriptions screen?"
Hi,

How can I use this package in order to navigate to General Settings -> Apple Account -> Subscriptions screen?

[2022-07-25 02:50] SuYungCheng commented on #146
Thank you for clearing up my confusion.

After I remove the Entitlements.plist for WiFi access, I can go to general settings.

But also make the other issue:

My app need to get WiFi name to let users know.

So I used the package  "network_info_plus".

When I remove the WiFi access, the WiFi name return null.

How can I both to get WiFi name and access to general settings?

Like some iot app,
[for

[2022-07-26 14:39] BellRampion commented on #109
This is also present on Android version 9.

[2022-07-27 04:20] plinkos commented on #109
I’ll take a look and see what’s going on and get a fix pushed up.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2022-07-27 17:49] shreyasb07 opened #148 "iOS: Unable to open WIFI and Bluetooth settings"
Using the plugin on iOS/iPadOS devices, I am unable to open the Wifi and Bluetooth settings directly. Instead it opens the devices' Settings page. Shouldn't it take the user directly to the wifi and bluetooth settings?

`AppSettings.openWIFISettings();`
`    AppSettings.openBluetoothSettings();`

[2022-08-03 17:32] plinkos commented on #146
Check this out: https://developer.apple.com/forums/thread/679038

[2022-08-03 17:34] plinkos commented on #148
iOS only allows opening of an App Settings screen... so permissions must be set correctly and code needs to attempt to access the setting/feature and prompt user initially.  Then that setting will appear in the app settings screen.  This is just the way Apple requires things for iPhone/iPad apps.

[2022-08-03 17:34] #148 closed

[2022-08-03 17:37] plinkos commented on #145
I believe you will need to add health kit permissions and such to your app and then make native request to prompt user for access/permissions and then they should appear in the app settings screen from then on.

[2022-08-03 17:45] plinkos commented on #147
My be possible... I'm investigating these options:
iOS: https://developer.apple.com/documentation/storekit/appstore/3803198-showmanagesubscriptions
Android: https://developer.android.com/reference/kotlin/android/telephony/SubscriptionManager

[2022-08-04 00:46] SuYungCheng commented on #146
Thank you @plinkos .

You help me a lot.

I'll try it.

Hope it can work.

[2022-08-04 06:07] reijerteunis commented on #145
Yes but once you already used the health kit permission you cannot do it again. Therefor I wanted to use your module to redirect the user directly to the native setting.

[2022-08-04 09:52] balaji101010 opened #149 "Android 12 Samsung M31 not working"
I get this log when I try to run this code

`              AppSettings.openAppSettings();
`

I/ViewRootImpl@45bb302[MainActivity](13998): ViewPostIme pointer 0
I/MSHandlerLifeCycle(13998): isMultiSplitHandlerRequested: windowingMode=1 isFullscreen=true isPopOver=false isHidden=false skipActivityType=false isHandlerType=true this: DecorView@f11b576[MainActivity]
I/MSHandlerLifeCycle(13998): isMulti

[2022-08-09 10:07] windows7lake opened #150 "openDeviceSettings but using wrong Settings ACTION"
[code]
should be replaced with
[code]

[2022-08-17 14:01] Andrushka1012 opened #151 "openDeviceSettings opens wrong screen for IOS"
On Ios openDeviceSettings launches app settings page after device settings.
Should launch device settings only

[2022-08-25 02:53] superorange commented on #120
感谢，正解

[2022-09-13 11:04] rddewan opened #152 "iOS open Photo setting"
Hi,
Is there a way to open a photo permission directly in iOS?

[2022-09-24 11:01] heedongrichrich opened #153 "[iOS] Navigate to "main setting page" only"
I just used example code to test navigation.

It works but the problem is that every button is navigated to only main-setting page..

Do I have to set anything else?

[2022-09-27 19:43] thiagocarvalhodev commented on #153
I'm having the same issue. Doesn't matter which function I call, always it goes to the app settings.

For example:

[code]

[2022-10-06 05:15] rifafauzi97 opened #155 "how to catch back from app setting to flutter"
Hi.

How to catch back from app setting to flutter?

I tried this code not work.

[code]

Because when it's open bluetooth setting, the second print is printed. I expect the second print should be printed after back to flutter.

Any option to catch back from app setting to flutter?

[2022-10-11 17:53] plinkos commented on #153
Apple doesn't allow navigation to specific settings pages.  There is only support for implementation of a setting like Notifications (you need to handle this on your own in native side with permissions and settings).  Once those settings are implemented and user is prompted to allow then those settings will become available in the App Settings main page.

[2022-10-11 17:54] plinkos commented on #151
This is how Apple designed access: https://github.com/spencerccf/app_settings/issues/153#issuecomment-1275065540

[2022-10-11 17:55] plinkos commented on #150
Could you create a Pull Request and I'll help get it merged into master?

[2022-10-11 18:04] plinkos commented on #155
I'll create a PR and add the FlutterResult return to both iOS and Android native side code.  This will allow you to determine if the response is done/completed.

[2022-10-18 07:16] dustin-graham commented on #151
@plinkos How does Google Maps pull this off?

https://user-images.githubusercontent.com/959931/196362116-efe56637-1982-4c59-8f27-840a2b7bf49f.mp4

[2022-10-18 15:33] plinkos commented on #153
Feel free to Fork and test in your own branch.  Here are all the private APIs ... However, Apple will most likely reject your app.  Not sure how Google is doing what they are doing or getting away with using private APIs.  If Apple approves your app we can create a new separate iOS open settings feature for calling the private APIs at your own risk.

prefs:root=General&path=About
prefs:root=Genera

[2022-10-24 07:19] ling350181 commented on #138
I have a same request. Has anyone solved it?

[2022-11-12 23:38] iqfareez opened #156 "Add `ACTION_REQUEST_SCHEDULE_EXACT_ALARM` setting for Android"
https://developer.android.com/reference/android/provider/Settings#ACTION_REQUEST_SCHEDULE_EXACT_ALARM

![image](https://user-images.githubusercontent.com/60868965/201498789-faeb5067-5338-436c-9bcd-fc035d03b7e7.png)

![image](https://user-images.githubusercontent.com/60868965/201498792-32e05395-6aaf-438f-917e-088215ba71bc.png)

[2022-11-13 04:42] #156 closed

[2022-11-26 16:43] Sebastjan-Vuga commented on #155
Hi @plinkos,

Any updates on this matter or how we might catch the "return to the app"?

Thanks!